
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  touch-action: none;
}
.App-debug{
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;

}

.trapp-btn:active{
  opacity: 0.65
}


.startScreen{
  height: 1920px;
  width: 1080px;
  background: url('/img/FullBackground.png');
}

.roomStartScreen{
  position: relative;
  height: 1920px;
  width: 1080px;
}

.roomQuestionScreen{
  position: relative;
  height: 1920px;
  width: 1080px;
}

.roomQuestionBox{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 675px;
  height:1245px;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

}

.roomBoxAnimate{
  animation-duration: 1s;
  animation-name: roomQuestionBoxSlideup;
}

@keyframes roomQuestionBoxSlideup {
  from {
    top: 100%;
  }

  to {
    top: 675px;
  }
}


.fullBackground{
  position: relative;
  height: 1920px;
  width: 1080px;
  background: url('/img/FullBackground.png');
  z-index: 999999;
}

.questionText{
  position: absolute;
  width: 100%;
  top: 200px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: 102;
}

.questionLogo{
  position: absolute;
  width: 100%;
  top: 60px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: 101;
}

.startLogo{
  position: absolute;
  width: 100%;
  top: 80px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: 101;
}

.windowBox{
  position: absolute;
  width: 736px;
  height:1165px;
  bottom: 281px;
  left: 172px;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 9;
}

.slideDownBlocker{
  position: absolute;
  z-index: 100;
  height:472px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: url('/img/slideDownBlocker.jpg');
}

.slideDown{
  animation-duration: 1s;
  animation-name: windowBoxSlideDown;
}

@keyframes windowBoxSlideDown {
  from {
    bottom: calc(1165px + 281px);
  }

  to {
    bottom: 281px;
  }
}




.gps_ring {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    border: 6px solid #fff;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    -webkit-animation: pulsate 2.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 0.1;}
    60% {opacity: 1.0;}
    100% {-webkit-transform: scale(2.2, 2.2); opacity: 0.0;}
}

.windowBoxTransition-enter {
  opacity: 0.01;
}

.windowBoxTransition-enter.windowBoxTransition-enter-active {
  opacity: 1;
  transition: opacity 5ms ease-in;
}

.windowBoxTransition-leave {
  opacity: 1;
}

.windowBoxTransition-leave.windowBoxTransition-leave-active {
  opacity: 0.01;
  transition: opacity 5ms ease-in;
}
